.article-title {
  font-family: "Canela Deck Web";
  font-size: 3.5rem;
  font-weight: bold;
  margin: 1rem 0 0.5rem 0;
  line-height: normal;
}

.article-subtitle {
  font-family: "Canela Deck Web", sans;
  color: var(--darkgray);
  font-size: 2rem;
  font-weight: 100;
  margin: 1rem 0 1rem 0;
}