.content-meta {
  &-container {
    margin-top: 0;
    color: var(--gray);
  }

  &-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &-element {
    display: flex;
    align-items: center;
    
    &.horizontal {
      flex-direction: row;
    }
  }

  &-divider {
    margin: 0.125rem auto;
  }
}