.content-meta {
  &-container {
    margin-top: 2rem;
    color: var(--gray);
  }

  &-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &-element {
    display: flex;
    max-width: 50%;
    align-items: center;
    
    &.horizontal {
      flex-direction: row;
    }
  }

  &-divider {
    margin: 0.5rem auto;
  }
}