.content-meta {
  &-container {
    margin-top: 2rem;
    color: var(--gray);
  }

  &-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  &-element {
    display: flex;
    align-items: center;
    flex-flow: wrap;
    gap: 0.25rem;

    &.dates {
      align-items: flex-end;
      text-align: end;
      min-width: 20%;
    }

    &.up {
      align-items: flex-start;
    }

    &.vertical {
      flex-direction: column;
    }
    
    &.horizontal {
      flex-direction: row;
    }
  
  }

  &-divider {
    margin: 0.5rem auto;
  }
}