@use "../../styles/variables.scss" as *;

$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);

@mixin largescreen {
	@media only screen and (min-width: 768px) {
		@content;
	}
}

@mixin mobile {
	@media only screen and (max-width: 767px) {
		@content;
		margin: 0 1rem;
	}
}

nav.navbar,
nav.navbar::before,
nav.navbar::after,
nav.navbar, *::before, *::after {
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	list-style-type: none;
	text-decoration: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;

}

nav.navbar img.lyt-logo {
	margin: 0px;
	//160px works for non-blurry
	width: 142px;
}

nav.navbar,
nav.navbar::before,
nav.navbar::after,
nav.navbar > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

// Elements
nav.navbar a.brand {
	font-family: inherit;
	font-size: 1.0625rem;
	font-weight: 700;
	line-height: inherit;
	color: var(--light);
	text-rendering: optimizeLegibility;
}

// Navbar
nav.navbar {

	width: 100%;
	height: auto;
	color: var(--light);
	background: var(--dark);
	padding: 1.12rem 2rem;
	border-radius: .75rem;
	width: 95%;

	// Media Query for Desktop
	@include largescreen {
		padding: 1rem 2rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
	}

	@include mobile {
		padding: 1rem;
	}

	.navbrand {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		line-height: .8rem;

		.burger {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			border: none;
			outline: none;
			background: none;
			transition: all 0.35s ease;

			&-close {
				display: none;
			}

			&.active {
				.burger-open {
					display: none;
				}
				.burger-close {
					display: flex;
				}
			}

			// Media Query for Desktop
			@include largescreen {
				display: none;
			}
		}
	}

	.menu {
		height: 0;
		overflow: hidden;
		transition: all 0.5s ease;

		&-item {
			margin: 0.5rem 0;
		}

		&-link {
			font-family: inherit;
			font-size: 1.0625rem;
			font-weight: 600;
			line-height: inherit;
			color: var(--light);
			text-rendering: optimizeLegibility;
			transition: all 0.35s ease;

			&:hover {
				color: var(--secondary);
			}
		}

		&.active {
			width: 100%;
			height: 10rem;
			margin: 1rem 0;
		}

		// Media Query for Desktop
		@include largescreen {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			height: auto;

            &.index {
                justify-content: flex-end;
            }

            &.garden {
                justify-content: center;
            }

			&-item {
				padding: 0;
				margin: 0 0.5rem;
			}
		}
	}

    .action-menu {
		height: 0;
		overflow: hidden;
		transition: all 0.5s ease;

		&-item {
			margin: 0.5rem 0;
		}

		&-link {
			font-family: inherit;
			font-size: 1.0625rem;
			font-weight: 600;
			line-height: inherit;
			color: var(--light);
			text-rendering: optimizeLegibility;
			transition: all 0.35s ease;

			&:hover {
				color: var(--secondary);
			}
		}

		&.active {
			width: 100%;
			height: 10rem;
			margin: 1rem 0;
		}

		// Media Query for Desktop
		@include largescreen {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			height: auto;

			&-item {
				padding: 0;
				margin: 0 0.5rem;
			}
		}
	}
}