span.properties {
    &-key {
        font-weight: bold;
    }
}

div.properties-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin: 0.5rem 0;
}

.property-key {
    font-weight: bold;
    color: var(--darkgray);

    &-priority {
        color: var(--gray);
    }
}

