@use "./variables.scss" as *;
@use "sass:color";

.callout {
  border: 1px solid var(--border);
  background-color: var(--bg);
  border-radius: 5px;
  padding: 0 1rem;
  overflow-y: hidden;
  transition: max-height 0.3s ease;
  box-sizing: border-box;

  & > *:nth-child(2) {
    margin-top: 0;
  }

  --callout-icon-note: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="2" x2="22" y2="6"></line><path d="M7.5 20.5 19 9l-4-4L3.5 16.5 2 22z"></path></svg>');
  --callout-icon-abstract: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect><path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path><path d="M12 11h4"></path><path d="M12 16h4"></path><path d="M8 11h.01"></path><path d="M8 16h.01"></path></svg>');
  --callout-icon-info: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>');
  --callout-icon-todo: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z"></path><path d="m9 12 2 2 4-4"></path></svg>');
  --callout-icon-tip: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M8.5 14.5A2.5 2.5 0 0 0 11 12c0-1.38-.5-2-1-3-1.072-2.143-.224-4.054 2-6 .5 2.5 2 4.9 4 6.5 2 1.6 3 3.5 3 5.5a7 7 0 1 1-14 0c0-1.153.433-2.294 1-3a2.5 2.5 0 0 0 2.5 2.5z"></path></svg> ');
  --callout-icon-success: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"></polyline></svg> ');
  --callout-icon-question: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12.01" y2="17"></line></svg> ');
  --callout-icon-warning: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3Z"></path><line x1="12" y1="9" x2="12" y2="13"></line><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>');
  --callout-icon-failure: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg> ');
  --callout-icon-danger: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon></svg> ');
  --callout-icon-bug: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect width="8" height="14" x="8" y="6" rx="4"></rect><path d="m19 7-3 2"></path><path d="m5 7 3 2"></path><path d="m19 19-3-2"></path><path d="m5 19 3-2"></path><path d="M20 13h-4"></path><path d="M4 13h4"></path><path d="m10 4 1 2"></path><path d="m14 4-1 2"></path></svg>');
  --callout-icon-example: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3.01" y2="6"></line><line x1="3" y1="12" x2="3.01" y2="12"></line><line x1="3" y1="18" x2="3.01" y2="18"></line></svg> ');
  --callout-icon-quote: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 21c3 0 7-1 7-8V5c0-1.25-.756-2.017-2-2H4c-1.25 0-2 .75-2 1.972V11c0 1.25.75 2 2 2 1 0 1 0 1 1v1c0 1-1 2-2 2s-1 .008-1 1.031V20c0 1 0 1 1 1z"></path><path d="M15 21c3 0 7-1 7-8V5c0-1.25-.757-2.017-2-2h-4c-1.25 0-2 .75-2 1.972V11c0 1.25.75 2 2 2h.75c0 2.25.25 4-2.75 4v3c0 1 0 1 1 1z"></path></svg>');
  --callout-icon-fold: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpolyline points="6 9 12 15 18 9"%3E%3C/polyline%3E%3C/svg%3E');

  &[data-callout] {
    --color: #448aff;
    --border: #448aff44;
    --bg: #448aff10;
    --callout-icon: var(--callout-icon-note);
  }

  //from https://github.dev/Lisandra-dev/owlly-lab
  &[data-callout="empty"] {
    --callout-icon: "" --color: transparent;
    --border: transparent;
    --bg: transparent;
    & .callout-title {
      display: none;
    }
    width: 50px;
    padding: 5px;
  }

  &[data-callout="abstract"] {
    --color: #00b0ff;
    --border: #00b0ff44;
    --bg: #00b0ff10;
    --callout-icon: var(--callout-icon-abstract);
  }

  &[data-callout="info"],
  &[data-callout="todo"] {
    --color: #00b8d4;
    --border: #00b8d444;
    --bg: #00b8d410;
    --callout-icon: var(--callout-icon-info);
  }

  &[data-callout="todo"] {
    --callout-icon: var(--callout-icon-todo);
  }

  &[data-callout="tip"] {
    --color: #00bfa5;
    --border: #00bfa544;
    --bg: #00bfa510;
    --callout-icon: var(--callout-icon-tip);
  }

  &[data-callout="success"] {
    --color: #09ad7a;
    --border: #09ad7144;
    --bg: #09ad7110;
    --callout-icon: var(--callout-icon-success);
  }

  &[data-callout="question"] {
    --color: #dba642;
    --border: #dba64244;
    --bg: #dba64210;
    --callout-icon: var(--callout-icon-question);
  }

  &[data-callout="warning"] {
    --color: #db8942;
    --border: #db894244;
    --bg: #db894210;
    --callout-icon: var(--callout-icon-warning);
  }

  &[data-callout="failure"],
  &[data-callout="danger"],
  &[data-callout="bug"] {
    --color: #db4242;
    --border: #db424244;
    --bg: #db424210;
    --callout-icon: var(--callout-icon-failure);
  }

  &[data-callout="bug"] {
    --callout-icon: var(--callout-icon-bug);
  }

  &[data-callout="danger"] {
    --callout-icon: var(--callout-icon-danger);
  }

  &[data-callout="example"] {
    --color: #7a43b5;
    --border: #7a43b544;
    --bg: #7a43b510;
    --callout-icon: var(--callout-icon-example);
  }

  &[data-callout="quote"] {
    --color: var(--secondary);
    --border: var(--lightgray);
    --callout-icon: var(--callout-icon-quote);
  }

  &.is-collapsed > .callout-title > .fold-callout-icon {
    transform: rotateZ(-90deg);
  }
}

.callout-title {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  padding: 1rem 0;
  color: var(--color);

  --icon-size: 18px;

  & .fold-callout-icon {
    transition: transform 0.15s ease;
    opacity: 0.8;
    cursor: pointer;
    --callout-icon: var(--callout-icon-fold);
  }

  & > .callout-title-inner > p {
    color: var(--color);
    margin: 0;
  }

  .callout-icon,
  & .fold-callout-icon {
    width: var(--icon-size);
    height: var(--icon-size);
    flex: 0 0 var(--icon-size);

    // icon support
    background-size: var(--icon-size) var(--icon-size);
    background-position: center;
    background-color: var(--color);
    mask-image: var(--callout-icon);
    mask-size: var(--icon-size) var(--icon-size);
    mask-position: center;
    mask-repeat: no-repeat;
    padding: 0.2rem 0;
  }

  .callout-title-inner {
    font-weight: $semiBoldWeight;
  }
}

/*
Nick Milo's Callout Pack for Obsidian (Version: 1.0)
> A cool collection of compelling callouts.

Pay it forward. Support an Obsidian developer.

Theme Code is distributed under the MIT License.

Special code is added to work with the Prism theme by Damian Korcz <https://github.com/damiankorcz>

COLOR LISTS

PURPLE: Calendar, Globe, Industry, Network, Orbit, Venetian, Video
CYAN: Blocks, Map, Radar, Rocket, Planet, User
ORANGE: Book, Boxes, Compass, Keaton, Shell, Tram-front
YELLOW: Combine, Connect, Puzzle, Sparkles, Sun
GREY: Box, Command, Cross, Hexagon, Link, Script, Notes
PINK: Activity, Joystick, Milestone, Rainbow, Tower 
MINT: Cable-car, Castle, Combo, Camera, Play, Recycle
GREEN: Bike, Contact, Leaf, Sprout, Train, Training, Trees
BLUE: Anchor, Locate-fixed, Parking-square, Sailboat, Ship, Shipwheel, Snowflake
RED: Award, Cone, Fingerprint, Watch

-------------
*/

.callout[data-callout="album"] {
  --callout-icon: album;
  --callout-color: 151, 117, 250;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

.callout[data-callout="ampersand"] {
  --callout-icon: ampersand;
  --callout-color: 134, 142, 150;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

.callout[data-callout="areachart"] {
  --callout-icon: area-chart;
  --callout-color: 77, 171, 247;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

.callout[data-callout="armchair"] {
  --callout-icon: armchair;
  --callout-color: 34, 184, 207;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

.callout[data-callout="apple"] {
  --callout-icon: apple;
  --callout-color: 64, 192, 87;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

.callout[data-callout="app"] {
  --callout-icon: app;
}

.callout[data-callout="@"] {
  --callout-icon: at-sign;
  --callout-color: 233, 124, 238;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

.callout[data-callout="alarm"] {
  --callout-icon: alarm-clock;
  --callout-color: 250, 82, 82;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

.callout[data-callout="banknote"] {
  --callout-icon: banknote;
  --callout-color: 18, 184, 134;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

.callout[data-callout="bird"] {
  --callout-icon: bird;
  --callout-color: 77, 171, 247;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

.callout[data-callout="bookmark"] {
  --callout-icon: bookmark;
  --callout-color: 199, 196, 0;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

.callout[data-callout="brush"] {
  --callout-icon: brush;
  --callout-color: 151, 117, 250;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* aperture */

.callout[data-callout="aperture"] {
  --callout-icon: aperture;
  --callout-color: 34, 184, 207;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* atom */

.callout[data-callout="atom"] {
  --callout-icon: atom;
  --callout-color: 255, 146, 43;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* axe */

.callout[data-callout="axe"] {
  --callout-icon: axe;
  --callout-color: 255, 146, 43;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* banana */

.callout[data-callout="banana"] {
  --callout-icon: banana;
  --callout-color: 199, 196, 0;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* cake */

.callout[data-callout="cake"] {
  --callout-icon: cake;
  --callout-color: 255, 146, 43;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* chef-hat */

.callout[data-callout="chef"] {
  --callout-icon: chef-hat;
  --callout-color: 255, 146, 43;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* codesandbox */

.callout[data-callout="codesandbox"] {
  --callout-icon: codesandbox;
  --callout-color: 233, 124, 238;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* cog */

.callout[data-callout="cog"] {
  --callout-icon: cog;
  --callout-color: 134, 142, 150;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* drama */

.callout[data-callout="drama"] {
  --callout-icon: drama;
  --callout-color: 250, 82, 82;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* ferris-wheel */

.callout[data-callout="ferris"] {
  --callout-icon: ferris-wheel;
  --callout-color: 199, 196, 0;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* film */

.callout[data-callout="film"] {
  --callout-icon: film;
  --callout-color: 255, 146, 43;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* fish */

.callout[data-callout="fish"] {
  --callout-icon: fish;
  --callout-color: 77, 171, 247;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* gem */

.callout[data-callout="gem"] {
  --callout-icon: gem;
  --callout-color: 233, 124, 238;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* ghost */

.callout[data-callout="ghost"] {
  --callout-icon: ghost;
  --callout-color: 151, 117, 250;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* highlighter */

.callout[data-callout="highlighter"] {
  --callout-icon: highlighter;
  --callout-color: 199, 196, 0;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* lamp-desk */

.callout[data-callout="lamp"] {
  --callout-icon: lamp-desk;
  --callout-color: 18, 184, 134;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* layers */

.callout[data-callout="layers"] {
  --callout-icon: layers;
  --callout-color: 64, 192, 87;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* lightbulb */

.callout[data-callout="lightbulb"] {
  --callout-icon: lightbulb;
  --callout-color: 199, 196, 0;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* key-square */

.callout[data-callout="key"] {
  --callout-icon: key-square;
  --callout-color: 134, 142, 150;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* magnet */

.callout[data-callout="magnet"] {
  --callout-icon: magnet;
  --callout-color: 250, 82, 82;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* mail */

.callout[data-callout="mail"] {
  --callout-icon: mail;
  --callout-color: 77, 171, 247;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* maximize */

.callout[data-callout="maximize"] {
  --callout-icon: maximize;
  --callout-color: 18, 184, 134;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* message-square */

.callout[data-callout="messages"] {
  --callout-icon: message-square;
  --callout-color: 77, 171, 247;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* message-circle */

.callout[data-callout="message"] {
  --callout-icon: message-circle;
  --callout-color: 64, 192, 87;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* mic */

.callout[data-callout="mic"] {
  --callout-icon: mic;
  --callout-color: 250, 82, 82;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* music */

.callout[data-callout="song"] {
  --callout-icon: music;
  --callout-color: 199, 196, 0;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* music-4 */

.callout[data-callout="music"] {
  --callout-icon: music-4;
  --callout-color: 250, 82, 82;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* newspaper */

.callout[data-callout="newspaper"] {
  --callout-icon: newspaper;
  --callout-color: 134, 142, 150;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* paperclip */

.callout[data-callout="paperclip"] {
  --callout-icon: paperclip;
  --callout-color: 233, 124, 238;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* party-popper */

.callout[data-callout="party"] {
  --callout-icon: party-popper;
  --callout-color: 151, 117, 250;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* pen */

.callout[data-callout="pen"] {
  --callout-icon: pen-tool;
  --callout-color: 255, 146, 43;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* plane */

.callout[data-callout="plane"] {
  --callout-icon: plane;
  --callout-color: 77, 171, 247;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* paw-print */

.callout[data-callout="pawprint"] {
  --callout-icon: paw-print;
  --callout-color: 151, 117, 250;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* home */

.callout[data-callout="home"] {
  --callout-icon: home;
  --callout-color: 64, 192, 87;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* projector */

.callout[data-callout="projector"] {
  --callout-icon: projector;
  --callout-color: 151, 117, 250;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* pyramid */

.callout[data-callout="pyramid"] {
  --callout-icon: pyramid;
  --callout-color: 18, 184, 134;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* rabbit */

.callout[data-callout="rabbit"] {
  --callout-icon: rabbit;
  --callout-color: 199, 196, 0;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* rotate-3d */

.callout[data-callout="revolve"] {
  --callout-icon: rotate-3d;
  --callout-color: 18, 184, 134;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* rollercoaster */

.callout[data-callout="rollercoaster"] {
  --callout-icon: roller-coaster;
  --callout-color: 233, 124, 238;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* scale */

.callout[data-callout="scale"] {
  --callout-icon: scale;
  --callout-color: 77, 171, 247;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* scatter-chart */

.callout[data-callout="scatterchart"] {
  --callout-icon: scatter-chart;
  --callout-color: 64, 192, 87;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* scissors */

.callout[data-callout="scissors"] {
  --callout-icon: scissors;
  --callout-color: 233, 124, 238;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* send */

.callout[data-callout="send"] {
  --callout-icon: send;
  --callout-color: 233, 124, 238;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* settings */

.callout[data-callout="settings"] {
  --callout-icon: settings;
  --callout-color: 134, 142, 150;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* shapes */

.callout[data-callout="shapes"] {
  --callout-icon: shapes;
  --callout-color: 233, 124, 238;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* snail */

.callout[data-callout="snail"] {
  --callout-icon: snail;
  --callout-color: 255, 146, 43;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* shrink */

.callout[data-callout="shrink"] {
  --callout-icon: shrink;
  --callout-color: 134, 142, 150;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* sliders */

.callout[data-callout="sliders"] {
  --callout-icon: sliders;
  --callout-color: 199, 196, 0;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* sliders-horizontal */

.callout[data-callout="slider"] {
  --callout-icon: sliders-horizontal;
  --callout-color: 18, 184, 134;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* soup */

.callout[data-callout="soup"] {
  --callout-icon: soup;
  --callout-color: 18, 184, 134;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* star */

.callout[data-callout="star"] {
  --callout-icon: star;
  --callout-color: 34, 184, 207;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* tangent */

.callout[data-callout="tangent"] {
  --callout-icon: tangent;
  --callout-color: 199, 196, 0;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* target */

.callout[data-callout="target"] {
  --callout-icon: target;
  --callout-color: 250, 82, 82;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* tent-tree */

.callout[data-callout="tent"] {
  --callout-icon: tent-tree;
  --callout-color: 64, 192, 87;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* train-track */

.callout[data-callout="tracks"] {
  --callout-icon: train-track;
  --callout-color: 134, 142, 150;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* trending-down */

.callout[data-callout="trendingdown"] {
  --callout-icon: trending-down;
  --callout-color: 250, 82, 82;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* trending-up */

.callout[data-callout="trendingup"] {
  --callout-icon: trending-up;
  --callout-color: 64, 192, 87;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* turtle */

.callout[data-callout="turtle"] {
  --callout-icon: turtle;
  --callout-color: 18, 184, 134;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* wand */

.callout[data-callout="wand"] {
  --callout-icon: wand;
  --callout-color: 151, 117, 250;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* wand-2 */

.callout[data-callout="wandy"] {
  --callout-icon: wand-2;
  --callout-color: 34, 184, 207;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* waves */

.callout[data-callout="waves"] {
  --callout-icon: waves;
  --callout-color: 34, 184, 207;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* waypoints */

.callout[data-callout="waypoints"] {
  --callout-icon: waypoints;
  --callout-color: 34, 184, 207;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* wrench */

.callout[data-callout="wrench"] {
  --callout-icon: wrench;
  --callout-color: 134, 142, 150;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* write */

.callout[data-callout="write"] {
  --callout-color: 34, 184, 207;
  --callout-icon: pencil;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* youtube */

.callout[data-callout="youtube"] {
  --callout-icon: youtube;
  --callout-color: 250, 82, 82;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* zap */

.callout[data-callout="zap"] {
  --callout-color: 233, 124, 238;
  --callout-icon: zap;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
  --callout-color: 199, 196, 0;
}

/* activity */

.callout[data-callout="activity"] {
  --callout-icon: activity;
  --callout-color: 233, 124, 238;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* anchor */

.callout[data-callout="anchor"] {
  --callout-icon: anchor;
  --callout-color: 77, 171, 247;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* award */

.callout[data-callout="award"] {
  --callout-icon: award;
  --callout-color: 250, 82, 82;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* bike */
.callout[data-callout="bike"] {
  --callout-icon: bike;
  --callout-color: 64, 192, 87;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* blocks */
.callout[data-callout="blocks"] {
  --callout-icon: blocks;
  --callout-color: 34, 184, 207;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* book */

.callout[data-callout="book"] {
  --callout-icon: book;
  --callout-color: 255, 146, 43;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* box */

.callout[data-callout="box"] {
  --callout-icon: box;
  --callout-color: 134, 142, 150;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* boxes */

.callout[data-callout="boxes"] {
  --callout-color: 255, 146, 43;
  --callout-icon: boxes;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* boxescyan */

.callout[data-callout="boxescyan"] {
  --callout-color: 255, 146, 43;
  --callout-icon: boxes;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* cable-car */

.callout[data-callout="cable-car"] {
  --callout-color: 18, 184, 134;
  --callout-icon: cable-car;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* calendar */

.callout[data-callout="calendar"] {
  --callout-icon: calendar-days;
  --callout-color: 151, 117, 250;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* camera */

.callout[data-callout="camera"] {
  --callout-icon: camera;
  --callout-color: 18, 184, 134;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* castle mint */
.callout[data-callout="castle"] {
  --callout-color: 18, 184, 134;
  --callout-icon: castle;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* castle orange */
.callout[data-callout="castleo"] {
  --callout-color: 255, 146, 43;
  --callout-icon: castle;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* combine */

.callout[data-callout="combine"] {
  --callout-color: 34, 184, 207;
  --callout-icon: combine;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* combo */

.callout[data-callout="combo"] {
  --callout-color: 18, 184, 134;
  --callout-icon: gamepad;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* command */

.callout[data-callout="command"] {
  --callout-color: 134, 142, 150;
  --callout-icon: command;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* compass */

.callout[data-callout="compass"] {
  --callout-color: 255, 146, 43;
  --callout-icon: compass;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* cone */

.callout[data-callout="cone"] {
  --callout-icon: traffic-cone;
  --callout-color: 250, 82, 82;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* connect */

.callout[data-callout="connect"] {
  --callout-icon: share-2;
  --callout-color: 199, 196, 0;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* contact */

.callout[data-callout="contact"] {
  --callout-color: 64, 192, 87;
  --callout-icon: contact;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* cross */

.callout[data-callout="cross"] {
  --callout-icon: cross;
  --callout-color: 250, 82, 82;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* fingerprint */

.callout[data-callout="fingerprint"] {
  --callout-color: 250, 82, 82;
  --callout-icon: fingerprint;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* globe */

.callout[data-callout="globe"] {
  --callout-color: 151, 117, 250;
  --callout-icon: globe;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* hexagon */

.callout[data-callout="hexagon"] {
  --callout-color: 134, 142, 150;
  --callout-icon: hexagon;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* industry */

.callout[data-callout="industry"] {
  --callout-color: 151, 117, 250;
  --callout-icon: building-2;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* joystick */

.callout[data-callout="joystick"] {
  --callout-color: 233, 124, 238;
  --callout-icon: joystick;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* keaton */

.callout[data-callout="keaton"] {
  --callout-color: 255, 146, 43;
  --callout-icon: quote;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* quotes */

.callout[data-callout="quotes"] {
  --callout-color: 255, 146, 43;
  --callout-icon: quote;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* leaf */

.callout[data-callout="leaf"] {
  --callout-color: 64, 192, 87;
  --callout-icon: leaf;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* link */

.callout[data-callout="link"] {
  --callout-color: 134, 142, 150;
  --callout-icon: link;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* locate */

.callout[data-callout="locate"] {
  --callout-color: 77, 171, 247;
  --callout-icon: locate-fixed;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* map */

.callout[data-callout="map"] {
  --callout-color: 34, 184, 207;
  --callout-icon: map;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* milestone */

.callout[data-callout="milestone"] {
  --callout-color: 233, 124, 238;
  --callout-icon: milestone;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* network */

.callout[data-callout="network"] {
  --callout-color: 151, 117, 250;
  --callout-icon: network;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* notes */

.callout[data-callout="notes"] {
  --callout-color: 134, 142, 150;
  --callout-icon: file-text;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* orbit */

.callout[data-callout="orbit"] {
  --callout-color: 151, 117, 250;
  --callout-icon: orbit;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* parking */

.callout[data-callout="parking"] {
  --callout-color: 77, 171, 247;
  --callout-icon: parking-square;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* planet */

.callout[data-callout="planet"] {
  --callout-color: 34, 184, 207;
  --callout-icon: globe-2;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* play */

.callout[data-callout="play"] {
  --callout-color: 18, 184, 134;
  --callout-icon: gamepad-2;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* puzzle */

.callout[data-callout="puzzle"] {
  --callout-color: 199, 196, 0;
  --callout-icon: puzzle;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* radar */

.callout[data-callout="radar"] {
  --callout-color: 34, 184, 207;
  --callout-icon: radar;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* rainbow */

.callout[data-callout="rainbow"] {
  --callout-icon: rainbow;
  --callout-color: 233, 124, 238;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* recycle */

.callout[data-callout="recycle"] {
  --callout-color: 18, 184, 134;
  --callout-icon: refresh-ccw;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* rocket */

.callout[data-callout="rocket"] {
  --callout-color: 34, 184, 207;
  --callout-icon: rocket;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* sailboat */

.callout[data-callout="sailboat"] {
  --callout-color: 77, 171, 247;
  --callout-icon: sailboat;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* script */

.callout[data-callout="script"] {
  --callout-color: 134, 142, 150;
  --callout-icon: scroll;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* shell */

.callout[data-callout="shell"] {
  --callout-color: 233, 124, 238;
  --callout-icon: shell;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* ship */

.callout[data-callout="ship"] {
  --callout-color: 77, 171, 247;
  --callout-icon: ship;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* shipwheel */

.callout[data-callout="shipwheel"] {
  --callout-color: 64, 192, 87;
  --callout-icon: shipwheel;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* snowflake */

.callout[data-callout="snowflake"] {
  --callout-color: 77, 171, 247;
  --callout-icon: snowflake;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* sparkles */

.callout[data-callout="sparkles"] {
  --callout-icon: sparkle;
  --callout-color: 199, 196, 0;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* sprout */

.callout[data-callout="sprout"] {
  --callout-color: 64, 192, 87;
  --callout-icon: sprout;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* sun */

.callout[data-callout="sun"] {
  --callout-color: 199, 196, 0;
  --callout-icon: sun;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* train */

.callout[data-callout="train"] {
  --callout-color: 64, 192, 87;
  --callout-icon: train;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* training */

.callout[data-callout="training"] {
  --callout-color: 64, 192, 87;
  --callout-icon: dumbbell;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* tram-front */

.callout[data-callout="tram"] {
  --callout-color: 255, 146, 43;
  --callout-icon: tram-front;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* trees */

.callout[data-callout="trees"] {
  --callout-color: 64, 192, 87;
  --callout-icon: trees;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* tower-control */

.callout[data-callout="tower"] {
  --callout-color: 233, 124, 238;
  --callout-icon: tower-control;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* user */

.callout[data-callout="user"] {
  --callout-color: 34, 184, 207;
  --callout-icon: user;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* venetian */

.callout[data-callout="venetian"] {
  --callout-icon: venetian-mask;
  --callout-color: 151, 117, 250;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* video */

.callout[data-callout="video"] {
  --callout-color: 151, 117, 250;
  --callout-icon: clapperboard;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* watch */
.callout[data-callout="watch"] {
  --callout-color: 250, 82, 82;
  --callout-icon: watch;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}

/* moon */

.callout[data-callout="moon"] {
  --callout-icon: moon;
  --callout-color: 151, 117, 250;
  --color: rgb(var(--callout-color));
  --border: rgb(var(--callout-color));
  --bg: rgba(var(--callout-color), 0.3);
}
